h2 {
  color: var(--primary-900);
  margin-bottom: 1em;
  padding: 0 1em;
  border-style: none none none solid;
  border-width: 4px;
  border-color: var(--primary-500);
  margin-bottom: 2em;
}

.orders-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.orders-list > button {
  font-size: 1.4rem;
}

.orders-list .order-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  font-size: 1rem;
}

.orders-list .order {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 1.2em;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  font-size: 0.95rem;

  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.orders-list .order div:first-of-type,
.orders-list .order div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-list .order h3 {
  font-size: 1.2em;
  color: var(--primary-900);
}

.orders-list .order p {
  color: var(--gray-600);
}

.orders-list .order .address {
  font-size: 0.9em;
  color: var(--gray-400);
}

.orders-list .order .address-extra {
  font-size: 0.8em;
  color: var(--gray-400);
}

.orders-list .info {
  display: flex;
  justify-content: space-between;
}

.orders-list .order .status {
  padding: 0.3em 0.5rem;
  background-color: var(--gray-200);
  font-weight: 600;
  border-radius: 0.5em;
  color: white;
}

.orders-list .order ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

@media (min-width: 600px) {
  .orders-list .order ul {
    flex: 1 1 0;
  }
}

.orders-list .order li {
  display: flex;
  gap: 0.3em;
  align-items: center;
  font-size: 0.9em;
}

.orders-list .order div:last-of-type button {
  height: 2em;
  background-color: transparent;
  border-style: none;
  display: flex;
  align-items: center;
}

.orders-list .order div:last-of-type button img {
  width: 1.5em;
  height: 1.5em;
}

.orders-list .order div:last-of-type .deliver,
.orders-list .order div:last-of-type .price {
  color: var(--primary-500);
  font-weight: 600;
  font-size: 1.1em;
  font-weight: 700;
}

.orders-list .order div:nth-of-type(2) {
  color: var(--gray-600);
}

.orders-list .order div:nth-of-type(2) .address .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 3em;
}

.orders-list .order hr {
  position: relative;
  color: rgba(0, 0, 0, 0.2);
}

.orders-list .order .buttons {
  display: flex;
  gap: 1em;
}

.orders-list .order button {
  background-color: var(--primary-500) !important;
  border-radius: 0.3em;
  padding: 0.8em 1.2em;
  font-size: 1em;
  color: white;
}

.orders-list .order button:hover {
  background-color: var(--primary-400) !important;
}