h2 {
  color: var(--primary-900);
  margin-bottom: 1rem;
}

.center {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.submit {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 2.4rem;
}

.input-box {
  position: relative;
  width: 100%;
  height: fit-content;
}

.input-box span {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--gray-200);
  z-index: 20;
  pointer-events: none;
  transition: all 0.2s ease;
}

.style1 {
  background: transparent;
  border-radius: 5px;
  border: solid 1px var(--gray-150);
  font-size: 1.2rem;
  width: 100%;
  height: 3.4rem;
  padding: 0 1rem;
  outline: none;
}

.style1:focus + span,
.style1:not(:placeholder-shown) + span {
  font-size: 0.9rem;
  color: var(--gray-400);
  top: -2px;
  background-color: var(--bg);
  padding: 0 0.5rem;
  border-radius: 2rem;
}

.style1:focus + span {
  color: var(--primary-500);
}

select {
  position: relative;
  background-color: var(--gray-100);
  color: var(--gray-700);
  border-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 1.2rem;

  background-image: url(./../assets/icons/expand_down_2.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 2rem 2rem;
}

/* account-details ------------------------- */
.account-details {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.left-decoration {
  position: relative;
}

.left-decoration::before {
  display: none;
  content: "";
  position: absolute;
  left: -5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: calc(100% + 20px);
  border: solid 3px var(--gray-100);
  border-style: solid none solid solid;
  border-radius: 5px;
}

.left-decoration::after {
  display: none;
  content: "";
  position: absolute;
  left: -5rem;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: var(--gray-100);
  border-radius: 10px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.account-details::after {
  background-image: url(./../assets/icons/user.png);
}

.address-book::after {
  background-image: url(./../assets/icons/address.png);
}

@media (min-width: 1100px) {
  .left-decoration::before,
  .left-decoration::after {
    display: block;
  }
}

.account-details h3 {
  font-size: 0.8rem;
  color: var(--gray-600);
  top: -2px;
  font-weight: 600;
  background-color: var(--bg);
  margin-bottom: 0.5rem;
}

.account-details .triple-field {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.account-details .triple-field > * {
  flex: 1 1 0;
  padding: 0.7rem 1rem 0.7rem 0.7rem;
  border-radius: 5px;
}

.account-details .option {
  border: solid 1px var(--gray-150);
  padding: 0.7rem 1rem 0.7rem 0.7rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.account-details input[type="radio"] {
  outline: none;
}

.account-details label {
  font-size: 1.1rem;
  color: var(--gray-400);
}

.account-details .phone-field {
  display: flex;
  gap: 1rem;
}

.account-details #country-code {
  width: 35%;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";

  background-image: url(./../assets/icons/expand_down_2.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 2rem 2rem;
}

.account-details #phone {
  width: 65%;
}

/* ----------------------------------------- */

hr {
  color: rgba(0, 0, 0, 0.1);
  margin: 2rem auto !important;
}

/* address-book ----------------------------- */
.address-book > p {
  color: var(--gray-400);
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.address-book .address-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.address-book .address {
  position: relative;
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
  .address-book .address {
    -webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  }

  .address-book .address p {
    line-height: 1.5rem;
  }
}

.address-book h3 {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.address-book .address > p {
  font-size: 0.9rem;
  color: var(--gray-600);
  max-width: 80%;
  line-height: 1.1rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.address-book .address button {
  position: absolute;
  right: 1.5rem;
  width: clamp(30px, 3vw, 45px);
  height: clamp(30px, 3vw, 45px);
  background-color: rgba(0, 0, 0, 0.12);
  border-style: none;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  transition: none;
}

.address-book .address button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.address-book .address .delete {
  top: 1.2rem;
  background-image: url(./../assets/icons/white_x.png);
}

.address-book .address .edit {
  bottom: 1.2rem;
  background-image: url(./../assets/icons/white_edit.png);
}
/* ------------------------------------------ */
