section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2em;
  font-weight: 900;
  width: 20ch;
  text-align: center;
  text-transform: uppercase;
  margin: 0.6em 0 1.5em 0;

  padding: 2rem;
  color: white;
}

h2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 17rem;
  border-radius: 10% 10% 37% 35% / 0% 0% 45% 46%;
  background-color: var(--primary-400);
  z-index: -1;
}

@media (min-width: 600px) {
  h2 {
    background-image: linear-gradient(
    92.88deg,
    var(--primary-200) 9.16%,
    var(--primary-300) 43.89%,
    var(--primary-400) 64.72%
  );
  margin: 1.4em 0 1.4em 0;
  border-radius: 50% 30px / 100%;
  color: white;
  }

  h2::before {
    display: none;
  }
}

form {
  --input-h: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 20rem;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  height: var(--input-h);
  padding: 0.5em 1em;
  border-radius: 0.4em;
  border: solid 1px var(--gray-100);
  font-size: 1.1em;
}

form input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin-right: -0.5em;
}

form .remember-me {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}

form .remember-me label {
  color: var(--primary-900);
}

form input.type1,
form a.type1 {
  font-weight: 800;
  font-size: 1.4em;
  padding: 0.5em 2em !important;
}

form .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7em;
}

form a {
  text-decoration: none;
  color: var(--primary-900);
}

form a:not(.type1):hover {
  color: var(--primary-500);
}

form .small {
  font-size: 0.8em;
  width: 100%;
}

form .forgot-password {
  text-align: right;
}

form .first-time {
  text-align: center;
}

form hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.137);
}
