section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  width: 13ch;
  text-align: center;
  text-transform: uppercase;
  margin: 1.4em 0 2.6em 0;
  color: white;
}

h1::before {
  content: "";
  position: absolute;
  background-image: url(./../assets/shapes/sign_in_shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 400px) {
  h1::before {
    top: -12vw;
  }
}

@media (min-width: 500px) {
  h1::before {
    top: -24vw;
  }
}

@media (min-width: 600px) {
  h1 {
    position: relative;
    margin-bottom: 2em;
  }

  h1::before {
    background-image: url(./../assets/shapes/sign_in_shape_2.png);
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    scale: 1.8;
  }
}

form {
  --input-h: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 20rem;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  height: var(--input-h);
  padding: 0.5em 1em;
  border-radius: 0.4em;
  border: solid 1px var(--gray-100);
  font-size: 1.1em;
}

form input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  margin-right: -0.5em;
}

form .remember-me {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}

form .remember-me label {
  color: var(--primary-900);
}

form input.type1,
form a.type1 {
  font-weight: 800;
  font-size: 1.4em;
  padding: 0.5em 2em !important;
}

form .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7em;
}

form a {
  text-decoration: none;
  color: var(--primary-900);
}

form a:not(.type1):hover {
  color: var(--primary-500);
}

form .small {
  font-size: 0.8em;
  width: 100%;
}

form .forgot-password {
  text-align: right;
}

form .first-time {
  text-align: center;
}

form hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.137);
}
