.order-history {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.order-history > button {
  font-size: 1.4rem;
}

.order-history .order-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  font-size: 1rem;
}

.order-history .order {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 1.2em;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  font-size: 0.95rem;

  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.order-history .order div:first-of-type,
.order-history .order div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-history .order h2 {
  font-size: 1.2em;
  color: var(--primary-900);
}

.order-history .order p {
  color: var(--gray-600);
}

.order-history .info {
  display: flex;
  justify-content: space-between;
}

.order-history .order .status {
  padding: 0.3em 0.5rem;
  background-color: var(--gray-200);
  font-weight: 600;
  border-radius: 0.5em;
  color: white;
}

.order-history .order .status.Cancelled {
  background-color: rgb(177, 43, 43);
}

.order-history .order .status.Delivered {
  background-color: var(--primary-400);
}

.order-history .order ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

@media (min-width: 600px) {
  .order-history .order ul{
    flex: 1 1 0;
  }
}

.order-history .order li {
  display: flex;
  gap: 0.3em;
  align-items: center;
  font-size: 0.9em;
}

.order-history .order div:last-of-type button {
    height: 2em;
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
}

.order-history .order div:last-of-type button img {
  width: 1.5em;
  height: 1.5em;
}

.order-history .order div:last-of-type .re-order,
.order-history .order div:last-of-type .price {
    color: var(--primary-500);
    font-weight: 600;
    font-size: 1.1em;
    font-weight: 700;
}

.order-history .order div:nth-of-type(2) {
  color: var(--gray-600);
}


.order-history .order div:nth-of-type(2) .address .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 3em;
}

.order-history .order hr {
  color: rgba(0, 0, 0, 0.2);
}